<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDowSIixM_Ma44Y2vp3nmFQuZKvdfV5dIc</string>
	<key>GCM_SENDER_ID</key>
	<string>212492031087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gonza.crud.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>test-flutter-d85fd</string>
	<key>STORAGE_BUCKET</key>
	<string>test-flutter-d85fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212492031087:ios:978c50c9d61f6f512ee99a</string>
</dict>
</plist>